html {
    background-image: url('../img/kino.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1; 
}

body {
    min-height: 100vh;
}

.site-search {
    display: flex;
    justify-content: center;
    margin: 3rem;
    gap: 1rem;
}

.site-search input {
    border-radius: 7px;
    width: 25rem;
    height: 3rem;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    margin: 5rem 1rem -2.5rem 1rem;
}

