.poster-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-poster {
    width: 250px;
    height: 500px;
    margin: -1rem 1rem 1rem 1rem;
}

.movie-poster img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.movie-info {
    display: flex;
    justify-content: left;
    flex-direction: column;
    color: white;
    margin: -5rem 1rem 1rem 0rem;
    padding: 0;
}

.movie-info h3 {
margin: -1rem 1rem 1rem 0rem;
font-size: 1rem;
color:rgba(255, 255, 255, 0.7);
}

.movie-info h2 {
font-size: 1.5rem;

}