@use './mixins_variables.scss' as *;


.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: $background-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  padding-bottom: 3rem;
}

.mobile-nav__item {
  background: none;
  border: none;
  color: #fff;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}





