@use './mixins_variables.scss' as *;
@use './button.scss';



.tags {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.filters-section {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.25rem;

}

.filters {
   color: $secondary-text-color;
   font-family: $font-subheader;
   display: flex;

    &__filter {
        background-color: $card-color;
        padding: 1rem 1.625rem;
        cursor: pointer;
        width: 230px;
        text-align: left;
        border-radius: 0.5rem;
        border: $secondary-text-color 1px solid;

        .arrow__icon-button {
    position: absolute;
    right: 0.9rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: $secondary-text-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}


        &.date {
             margin-left: 1rem;
        }
        &.time {
             margin-left: 1rem;
        }
    }

}

.search__bar {
    display: flex;
    padding: 0 1rem;
    margin-left: auto;
}

.search__input__wrapper {
    position: relative;
}

.search__bar__movie {
    background-color: #0E131B;
    border: 1px solid $secondary-text-color;
    border-radius: 0.5rem;
    padding: 1rem 1.625rem;
    color: #f5f7fa;
    min-width: fit-content;
    max-width: 300px;
}
   

.search__bar__movie::placeholder {
    color: $secondary-text-color;
}

.search__bar__movie:focus {
    outline: none;
    border-color: #DD6031;
}

.search__icon-button {
    position: absolute;
    right: 0.9rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: $secondary-text-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

.search__icon-button:hover {
    color: #DD6031;
}

@media (min-width: 601px) {

    .search__bar {
        justify-content: center;
    }

      .search__input__wrapper {
        max-width: 520px;
        width: 100%;
    }
}

.button_films {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}


