@use './mixins_variables.scss' as *;
@use './button.scss';

.tags {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;

    @include desktop {
    margin-left: 2rem;
  }
}

.filters-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include desktop {
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
  }
}


.filters {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;

  &__filter {
    width: 50%;
    background-color: $card-color;
    border: 1px solid $secondary-text-color;
    border-radius: 0.5rem;
    padding: 1rem 1.625rem;
    font-size: 1.25rem;
    font-family: $font-subheader;
    text-align: left;
    color: $primary-text-color;
    cursor: pointer;

    &:hover {
      border-color: $primary-text-color;
      
    }
    
    @include desktop {
      width: 230px;
  }

    i {
      float: right;
     color: $primary-text-color;
     font-size: 1.25rem;
     margin-top: 4px;


    }
  }
}

.search__bar {
  width: 100%;
  padding: 0 1rem;
  font-family: $font-subheader;

  @include desktop {
    margin-left: auto;
    max-width: 400px;
  }
}

.search__input__wrapper {
  position: relative;
  width: 100%;
}

.search__bar__movie {
  width: 100%;
  height: 56px;
  padding: 1rem 3rem 1rem 1.625rem;
  background-color: #0e131b;
  border: 1px solid $secondary-text-color;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  color: #f5f7fa;

  &::placeholder {
    color: $secondary-text-color;
  }

  &:focus {
    outline: none;
    border-color: #dd6031;
  }
}

.search__icon-button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: $secondary-text-color;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    color: #dd6031;
  }
}

.button_films {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}



