.poster-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-poster {
    width: 350px;
    height: 500px;
    margin: 2rem;
}

.movie-poster h2 {
    text-align: center;
}

.movie-poster img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}