html {
    background-image: url('../img/kino.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1; 
}

body {
    min-height: 100vh;
}

.poster-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-poster {
    width: 350px;
    height: 500px;
    margin: 2rem;
}

.movie-poster h2 {
    text-align: center;
    color: white;
}

.movie-poster img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}